/* Title Font */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.background-image {
  background: url(/geometry.png);
  background-color: rgb(139 92 246);
}